<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COMP90024 Team 22</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/theme.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>
    <title>Team 22</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'line']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var theme = document.getElementById('aurin_theme').getAttribute('value');
        var xlist = eval(document.getElementById('xlist').getAttribute('value'));
        var data = new google.visualization.DataTable();
        var arr = [];

        if (theme == "Education") {
            var options = {
                hAxis: {
                    title: 'Education percentage',
                    format: '#\'%\'',
                },
                vAxis: {
                    title: 'Positive tweets percentage',
                    format: '#\'%\''
                }
            };
        } else if (theme == "Age Distribution") {
            var options = {
                hAxis: {
                    title: '15-39 years percentage',
                    format: '#\'%\''
                },
                vAxis: {
                    title: 'Tweets'
                }
            };
        } else if (theme == "Language") {
            var options = {
                chart: {
                    title: 'English tweets percentage vs. people speak English at home percentage'
                },
                hAxis: {
                    slantedText: true,
                    slantedAngle: 70
                },
                width: 1200,
                height: 300
            };
            for (i = 0; i < xlist.length; i++) {
                arr.push([xlist[i].SA2, xlist[i].x, xlist[i].y]);
            }
            data.addColumn('string', 'SA2 Area');
            data.addColumn('number', 'percentage of English tweets');
            data.addColumn('number', 'percentage of English speakers at home');
            data.addRows(arr);
            var chart = new google.charts.Line(document.getElementById('chart_div'));
            chart.draw(data, options);
            return;
        }
        for (i = 0; i < xlist.length; i++) {
            arr.push([xlist[i].x, xlist[i].y]);
        }
        //alert(arr.length);
        data.addColumn('number', 'X');
        data.addColumn('number', 'AURIN Data vs. Twitter Data');
        data.addRows(arr);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function init() {
        var sorter = tsorter.create("aurin_data");
    }
    window.onload = init;
    </script>
</head>
<style>
/*------------------------TABLE-------------------------*/

table.sortable {
    border: 1px solid #369;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.sortable th {
    background-color: #E4EDFC;
    border-bottom: 3px solid #336699;
    border-right: 1px solid #336699;
    cursor: pointer;
    padding: 6px 15px 6px 6px;
    text-align: left;
    white-space: nowrap;
}

.sortable th.descend:after {
    content: "\25B2";
}

.sortable th.ascend:after {
    content: "\25BC";
}

.sortable td img {
    padding: 0 4px 0 0;
    margin: 0 0 -1px 0;
}

.sortable td input,
.sortable td.in_cell {
    padding: 0;
    margin: 0;
}

.sortable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.sortable tr:nth-child(even) {
    background-color: #E4EDFC;
}
</style>

<body>
    <div id='xlist' value="{{xlist}}"></div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Team 22</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tweet Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('topic')}}">Most Discussed Topics</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('timemap')}}">Tweet Post Time</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenario Analysis<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('sentiment')}}">Overall Sentiment Comparison</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('senario1')}}">Attitude Toward Job Hiring</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenarios With AURIN Data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('aurinEdu')}}">Educaton</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinLang')}}">Language</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinAge')}}">Age Distribution</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <h1 align="center">{{theme}}</h1>
        <b></b>
        <div id="aurin_theme" value="{{theme}}"></div>
        </br>{{reply}}</br>
        <div id="chart_div"></div>
        </br>
        <table id="aurin_data" class="sortable" align="center">
            {% if theme == 'Education' %}
            <thead>
                <tr>
                    <th data-tsorter="input-text">SA2 Name</th>
                    <th data-tsorter="numeric">Education Percentage of Full-Time Participation in School at Age 16 from Aurin</th>
                    <th data-tsorter="numeric">Positive Tweets Percentage from Twitter Data</th>
                </tr>
            </thead>
            <tbody>
                {% for item in table %}
                <tr>
                    <td>{{item}} </td>
                    <td>{{table[item].percentage}}</td>
                    <td>{% if table[item].calculation == null %} 0 {% else %} {{table[item].calculation}} {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %} {% if theme == 'Language' %}
            <thead>
                <tr>
                    <th data-tsorter="input-text">SA2 Name</th>
                    <!--
                    <th data-tsorter="numeric">English Speaker from Aurin</th>
                    <th data-tsorter="numeric">Other Speaker from Aurin</th>
                    //-->
                    <th data-tsorter="numeric">Percentage of Speaking English at Home from Aurin</th>
                    <!--
                    <th data-tsorter="numeric">English Speaker from Data</th>
                    <th data-tsorter="numeric">Other Speaker from Data</th>
                    //-->
                    <th data-tsorter="numeric">Percentage of English Tweets from Twitter Data</th>
                </tr>
            </thead>
            <tbody>
                {% for item in table %}
                <tr>
                    <td>{{item}} </td>
                    <!--
                    <td>{{table[item].English}}</td>
                    <td>{{table[item].OtherSpeaker}}</td>
                    //-->
                    <td>{{table[item].percentage}}</td>
                    <!--
                    <td>{% if table[item].en == null %} 0 {% else %} {{table[item].en}} {% endif %}
                    </td>
                    <td>{% if table[item].other == null %} 0 {% else %} {{table[item].other}} {% endif %}
                    </td>
                    //-->
                    <td>{% if table[item].calculation == null %} 0 {% else %} {{table[item].calculation}} {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %} {% if theme == 'Age Distribution' %}
            <thead>
                <tr>
                    <th data-tsorter="input-text">SA2 Name</th>
                    <!--
                    <th data-tsorter="numeric">0-4 Years Percent</th>
                    <th data-tsorter="numeric">5-9 Years Percent</th>
                    <th data-tsorter="numeric">10-14 Years Percent</th>
                    <th data-tsorter="numeric">15-19 Years Percent</th>
                    <th data-tsorter="numeric">20-24 Years Percent</th>
                    <th data-tsorter="numeric">25-29 Years Percent</th>
                    <th data-tsorter="numeric">30-34 Years Percent</th>
                    <th data-tsorter="numeric">35-39 Years Percent</th>
                    <th data-tsorter="numeric">40-44 Years Percent</th>
                    <th data-tsorter="numeric">45-49 Years Percent</th>
                    <th data-tsorter="numeric">50-54 Years Percent</th>
                    <th data-tsorter="numeric">55-59 Years Percent</th>
                    <th data-tsorter="numeric">60-64 Years Percent</th>
                    <th data-tsorter="numeric">65+ Years Percent</th>
                    //-->
                    <th data-tsorter="numeric">0-14 Years Percent</th>
                    <th data-tsorter="numeric">15-39 Years Percent</th>
                    <th data-tsorter="numeric">40-64 Years Percent</th>
                    <th data-tsorter="numeric">65+ Years Percent</th>
                    <th data-tsorter="numeric">Total Tweets from Twitter Data</th>
                </tr>
            </thead>
            <tbody>
                {% for item in table %}
                <tr>
                    <td>{{item}} </td>
                    <!--
                    <td>{{table[item].A0}}</td>
                    <td>{{table[item].A5}}</td>
                    <td>{{table[item].A10}}</td>
                    <td>{{table[item].A15}}</td>
                    <td>{{table[item].A20}}</td>
                    <td>{{table[item].A25}}</td>
                    <td>{{table[item].A30}}</td>
                    <td>{{table[item].A35}}</td>
                    <td>{{table[item].A40}}</td>
                    <td>{{table[item].A45}}</td>
                    <td>{{table[item].A50}}</td>
                    <td>{{table[item].A55}}</td>
                    <td>{{table[item].A60}}</td>
                    <td>{{table[item].A65}}</td>
                    //-->
                    <td>{{table[item].A0_14}}</td>
                    <td>{{table[item].A15_39}}</td>
                    <td>{{table[item].A40_64}}</td>
                    <td>{{table[item].A65}}</td>
                    <td>{% if table[item].tweet_num == null %} 0 {% else %} {{table[item].tweet_num}} {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
        <script src="../static/tsorter.min.js" type="text/javascript"></script>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="../static/assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>

</html>
