<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
              <!-- Bootstrap core CSS -->
            <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Bootstrap theme -->
            <link href="../static/dist/css/bootstrap-theme.min.css" rel="stylesheet">
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="../static/theme.css" rel="stylesheet">

            <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
            <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
            <script src="../assets/js/ie-emulation-modes-warning.js"></script>
            <title>Team 22</title>
            {{melbmap.js}}
            {{sydnmap.js}}
            {{pertmap.js}}
            {{adelmap.js}}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            
          <script type="text/javascript">
          google.charts.load('current', {packages: ['corechart', 'bar']});
          google.charts.setOnLoadCallback(drawBarChart);

          function drawBarChart() {
            var melbchart = document.getElementById('melbchart').getAttribute('value');
            melbchart = melbchart.substring(1,melbchart.length-1);
            melbchart = melbchart.split(',');
            var sydnchart = document.getElementById('sydnchart').getAttribute('value');
            sydnchart = sydnchart.substring(1,sydnchart.length-1);
            sydnchart = sydnchart.split(',');
            var pertchart = document.getElementById('pertchart').getAttribute('value');
            pertchart = pertchart.substring(1,pertchart.length-1);
            pertchart = pertchart.split(',');
            var adelchart = document.getElementById('adelchart').getAttribute('value');
            adelchart = adelchart.substring(1,adelchart.length-1);
            adelchart = adelchart.split(',');

            // bar chart
            var data = google.visualization.arrayToDataTable([
              ['City', 'Positive', 'Negative', 'Neural'],
              ['Melbourne',parseInt(melbchart[1]),parseInt(melbchart[2]),parseInt(melbchart[3])],
              ['Sydney',parseInt(sydnchart[1]),parseInt(sydnchart[2]),parseInt(sydnchart[3])],
              ['Perth',parseInt(pertchart[1]),parseInt(pertchart[2]),parseInt(pertchart[3])],
              ['Adelaide',parseInt(adelchart[1]),parseInt(adelchart[2]),parseInt(adelchart[3])]
            ]);

            var options = {
              chart: {
                title: 'Comparing Four Cities'
              },
              bars: 'horizontal', // Required for Material Bar Charts.
              hAxis: {format: 'decimal'},
              height: 400,
            };

            var chart = new google.charts.Bar(document.getElementById('barchart_material'));

            chart.draw(data, options);

          }

      google.charts.setOnLoadCallback(drawMelbPie);
      function drawMelbPie() {
        var melbchart = document.getElementById('melbchart').getAttribute('value');
            melbchart = melbchart.substring(1,melbchart.length-1);
            melbchart = melbchart.split(',');

        var data = google.visualization.arrayToDataTable([
          ['Sentiment', 'count'],
          ['Positve',     parseInt(melbchart[1])],
          ['Negative',      parseInt(melbchart[2])],
          ['Neutral',  parseInt(melbchart[3])]
        ]);

        var options = {
          title: 'Melbourne Sentiment Percentage'
        };

        var chart = new google.visualization.PieChart(document.getElementById('melb_pie'));

        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawSydnPie);
      function drawSydnPie() {
        var sydnchart = document.getElementById('sydnchart').getAttribute('value');
            sydnchart = sydnchart.substring(1,sydnchart.length-1);
            sydnchart = sydnchart.split(',');

        var data = google.visualization.arrayToDataTable([
          ['Sentiment', 'count'],
          ['Positve',     parseInt(sydnchart[1])],
          ['Negative',      parseInt(sydnchart[2])],
          ['Neutral',  parseInt(sydnchart[3])]
        ]);

        var options = {
          title: 'Sydney Sentiment Percentage'
        };

        var chart = new google.visualization.PieChart(document.getElementById('sydn_pie'));

        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawPertPie);
      function drawPertPie() {
        var pertchart = document.getElementById('pertchart').getAttribute('value');
            pertchart = pertchart.substring(1,pertchart.length-1);
            pertchart = pertchart.split(',');

        var data = google.visualization.arrayToDataTable([
          ['Sentiment', 'count'],
          ['Positve',     parseInt(pertchart[1])],
          ['Negative',      parseInt(pertchart[2])],
          ['Neutral',  parseInt(pertchart[3])]
        ]);

        var options = {
          title: 'Perth Sentiment Percentage'
        };

        var chart = new google.visualization.PieChart(document.getElementById('pert_pie'));

        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawAdelPie);
      function drawAdelPie() {
        var adelchart = document.getElementById('adelchart').getAttribute('value');
            adelchart = adelchart.substring(1,adelchart.length-1);
            adelchart = adelchart.split(',');

        var data = google.visualization.arrayToDataTable([
          ['Sentiment', 'count'],
          ['Positve',     parseInt(adelchart[1])],
          ['Negative',      parseInt(adelchart[2])],
          ['Neutral',  parseInt(adelchart[3])]
        ]);

        var options = {
          title: 'Adelaide Sentiment Percentage'
        };

        var chart = new google.visualization.PieChart(document.getElementById('adel_pie'));

        chart.draw(data, options);
      }
    </script>
    </head>

    <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Team 22</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tweet Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('topic')}}">Most Discussed Topics</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('timemap')}}">Tweet Post Time</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenario Analysis<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('sentiment')}}">Overall Sentiment Comparison</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('senario1')}}">Attitude Toward Job Hiring</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenarios With AURIN Data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('aurinEdu')}}">Educaton</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinLang')}}">Language</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinAge')}}">Age Distribution</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <h1 align="center">{{theme}}</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Melbourne</h3> {{melbmap.html}}
            </div>
            <div class="col-md-6">
                <div id="melb_pie" style="width: 500px; height: 400px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Sydney</h3> {{sydnmap.html}}
            </div>
            <div class="col-md-6">
                <div id="sydn_pie" style="width: 500px; height: 400px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Perth</h3> {{pertmap.html}}
            </div>
            <div class="col-md-6">
                <div id="pert_pie" style="width: 500px; height: 400px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Adelaide</h3> {{adelmap.html}}
            </div>
            <div class="col-md-6">
                <div id="adel_pie" style="width: 500px; height: 400px;"></div>
            </div>
        </div>
        <!-- <a href="https://icons8.com/web-app/44098/Neutral">Neutral icon credits</a> -->
        <div style="display: none;">
            <div id="melbchart" value="{{melbchart}}">{{melbchart}}</div>
            <div id="sydnchart" value="{{sydnchart}}">{{sydnchart}}</div>
            <div id="pertchart" value="{{pertchart}}">{{pertchart}}</div>
            <div id="adelchart" value="{{adelchart}}">{{adelchart}}</div>
        </div>
        <div id="barchart_material" style="width: 900px; height: 500px;position:absolute;top:1800px;"></div>
    </div>
</body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>

