<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COMP90024 Team 22</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/theme.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>
    <title>COMP90024 Team 22</title>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    console.log(" script!!! ");
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    console.log("function invoke");
    google.charts.setOnLoadCallback(drawLineChart);

    function drawLineChart() {
        // var melbvalue = document.getElementById('melbchartvalue').getAttribute('value');
        // melbvalue = melbvalue.substring(1,melbvalue.length-1);
        // melbvalue = melbvalue.split(',');
        console.log("function draw chart");
        var melbvalue = {{ melbchartvalue }};
        var sydnvalue = {{ sydnchartvalue }};
        var pertvalue = {{ pertchartvalue }};
        var adelvalue = {{ adelchartvalue }};
        // var sydnvalue = document.getElementById('sydnchartvalue').getAttribute('value');
        // sydnvalue = sydnvalue.substring(1,sydnvalue.length-1);
        // sydnvalue = sydnvalue.split(',');
        // var pertvalue = document.getElementById('pertchartvalue').getAttribute('value');
        // pertvalue = pertvalue.substring(1,pertvalue.length-1);
        // pertvalue = pertvalue.split(',');
        // var adelvalue = document.getElementById('adelchartvalue').getAttribute('value');
        // adelvalue = adelvalue.substring(1,adelvalue.length-1);
        // adelvalue = adelvalue.split(',');
//
// var data = google.visualization.arrayToDataTable([
//             ['City', sydnchart[0].substring(2, sydnchart[0].length - 1), sydnchart[1].substring(3, sydnchart[1].length - 1), sydnchart[2].substring(3, sydnchart[2].length - 1), sydnchart[3].substring(3, sydnchart[3].length - 1), sydnchart[4].substring(3, sydnchart[4].length - 1)],
//             ['Sydney', parseInt(sydnvalue[0]), parseInt(sydnvalue[1]), parseInt(sydnvalue[2]), parseInt(sydnvalue[3]), parseInt(sydnvalue[4])]
//         ]);

//         var options = {
//             chart: {
//                 title: 'Result',
//                 subtitle: 'Sydney Top Topics',
//             },
//             hAxis: {
//                 format: 'decimal'
//             },
//             height: 400,
//         };

//
        var data = new google.visualization.arrayToDataTable([
          ['Time in a Day', 'Melbourne', 'Sydney', 'Perth', 'Adelaide'],
            ['0-6', melbvalue[0], sydnvalue[0], pertvalue[0], adelvalue[0]],
            ['6-12', melbvalue[1], sydnvalue[1], pertvalue[1], adelvalue[1]],
            ['12-18', melbvalue[2], sydnvalue[2], pertvalue[2], adelvalue[2]],
            ['18-24', melbvalue[3], sydnvalue[3], pertvalue[3], adelvalue[3]]
        ]);
        
        var options = {
          width: 700,
          height:400,
          chart: {
            title: ' '
          }
        };

        var chart = new google.charts.Bar(document.getElementById('linechart'));
        chart.draw(data, options);
        console("draw!!!");
    }
    </script>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Team 22</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tweet Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('topic')}}">Most Discussed Topics</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('timemap')}}">Tweet Post Time</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenario Analysis<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('sentiment')}}">Overall Sentiment Comparison</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('senario1')}}">Attitude Toward Job Hiring</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenarios With AURIN Data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('aurinEdu')}}">Educaton</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinLang')}}">Language</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinAge')}}">Age Distribution</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <h1>Tweet Post Time</h1>
        <!-- <h2>img</h2>
        <img src="{{url_for('static', filename='Happy-48.png')}}"/> -->
        <!-- <a href="https://icons8.com/web-app/44098/Neutral">Neutral icon credits</a> -->
        <!-- <div style="display: none;">
       <div id="melbchartvalue" value="{{melbchartvalue}}">{{melbchartvalue}}</div>  
       <div id="sydnchartvalue" value="{{sydnchartvalue}}">{{sydnchartvalue}}</div>
       <div id="pertchartvalue" value="{{pertchartvalue}}">{{pertchartvalue}}</div>
       <div id="adelchartvalue" value="{{adelchartvalue}}">{{adelchartvalue}}</div>
       </div> -->
        <div id="linechart" style="width: 900px; height: 500px;"></div>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="../static/assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
