<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COMP90024 Team 22</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/theme.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>
    <title>Team 22</title>
    {{topicmap.js}}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(drawMelbBarChart);

    function drawMelbBarChart() {
        var melbchart = document.getElementById('melbchartname').getAttribute('value');
        melbchart = melbchart.substring(1, melbchart.length - 1);
        melbchart = melbchart.split(',');
        // alert(melbchart[1].substring(3,melbchart[1].length-1))
        var melbvalue = document.getElementById('melbchartvalue').getAttribute('value');
        melbvalue = melbvalue.substring(1, melbvalue.length - 1);
        melbvalue = melbvalue.split(',');

        // bar chart
        var data = google.visualization.arrayToDataTable([
            ['City', melbchart[0].substring(1, melbchart[0].length - 1), melbchart[1].substring(2, melbchart[1].length - 1), melbchart[2].substring(2, melbchart[2].length - 1), melbchart[3].substring(2, melbchart[3].length - 1), melbchart[4].substring(2, melbchart[4].length - 1)],
            ['Melbourne', parseInt(melbvalue[0]), parseInt(melbvalue[1]), parseInt(melbvalue[2]), parseInt(melbvalue[3]), parseInt(melbvalue[4])]
        ]);

        var options = {
            chart: {
                title: 'Topics in Melbourne'
            },
            hAxis: {
                format: 'decimal'
            },
            height: 400,
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_melb'));

        chart.draw(data, options);

    }

    google.charts.setOnLoadCallback(drawSydnBarChart);

    function drawSydnBarChart() {
        var sydnchart = document.getElementById('sydnchartname').getAttribute('value');
        sydnchart = sydnchart.substring(1, sydnchart.length - 1);
        sydnchart = sydnchart.split(',');
        var sydnvalue = document.getElementById('sydnchartvalue').getAttribute('value');
        sydnvalue = sydnvalue.substring(1, sydnvalue.length - 1);
        sydnvalue = sydnvalue.split(',');

        // bar chart
        var data = google.visualization.arrayToDataTable([
            ['City', sydnchart[0].substring(1, sydnchart[0].length - 1), sydnchart[1].substring(2, sydnchart[1].length - 1), sydnchart[2].substring(2, sydnchart[2].length - 1), sydnchart[3].substring(2, sydnchart[3].length - 1), sydnchart[4].substring(2, sydnchart[4].length - 1)],
            ['Sydney', parseInt(sydnvalue[0]), parseInt(sydnvalue[1]), parseInt(sydnvalue[2]), parseInt(sydnvalue[3]), parseInt(sydnvalue[4])]
        ]);

        var options = {
            chart: {
                title: 'Topics in Sydney'
            },
            hAxis: {
                format: 'decimal'
            },
            height: 400,
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_sydn'));

        chart.draw(data, options);

    }
    </script>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Team 22</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tweet Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('topic')}}">Most Discussed Topics</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('timemap')}}">Tweet Post Time</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenario Analysis<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('sentiment')}}">Overall Sentiment Comparison</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('senario1')}}">Attitude Toward Job Hiring</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenarios With AURIN Data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('aurinEdu')}}">Educaton</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinLang')}}">Language</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('aurinAge')}}">Age Distribution</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <h1>Most Discussed Topics</h1> {{topicmap.html}}
        <div style="display: none;">
            <div id="melbchartname" value="{{melbchartname}}">{{melbchartname}}</div>
            <div id="melbchartvalue" value="{{melbchartvalue}}">{{melbchartvalue}}</div>
            <div id="sydnchartname" value="{{sydnchartname}}">{{sydnchartname}}</div>
            <div id="sydnchartvalue" value="{{sydnchartvalue}}">{{sydnchartvalue}}</div>
        </div>
        </br>
        </br>
        </br>
        <div class="row">
            <div class="col-md-5">
                <div id="barchart_melb" style="width: 400px; height: 500px;"></div>
            </div>
            <div class="col-md-5">
                <div id="barchart_sydn" style="width: 400px; height: 500px;"></div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="../static/assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>

</html>
